:root {
  --primary-color: #60584D;
  --secondary-color: #153448;
  --accent-color-1: #F3EDE2;
  --accent-color-2: #5E91B2;
}

h2 {
  font-family: 'Tinos', serif;
  color: var(--secondary-color);
}

h1 {
  font-family: 'Tinos', serif;
  font-size: 55px;
  color: var(--accent-color-1);
  position: absolute;
  display: block;
  top: 20px;
  left: 140px;

}

article {
  position: absolute;
  background-color: rgba(243, 237, 226, 0.8);
  top: 200px;
  margin: 2rem;
  box-shadow: 0 0 30px var(--primary-color);
}

article img {
  float: right;
  margin-left: 1rem;
}

article p {
  color: var(--secondary-color);
  margin: 1rem;
  font-weight: 700;
}

p {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

footer{
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Class Selectors */
.sociallinks a {
  text-decoration: none;
  color: var(--accent-color-2);
}
.sociallinks img {
  width: 30px;
  margin: 2.5px;
}

.menubar a {
  text-decoration: none;
  color: var(--secondary-color);
}

.hero {
  position: relative;
  display: flex;
}
.background {
  display: block;
  width: 100%;
  height: auto;
  filter: brightness(70%);
}

