:root {
  --main-color: steelblue;
  --white: white;
  --transparent: transparent;
  --border-color: rgba(0, 0, 0, 0.2);
  --bg-color: #eee;
  --text-color: #333;
  --shadow-color: gray;
  --border-top-color: #000;
  --padding-small: 10px;
  --padding-medium: 20px;
  --width-main-img: 150px;
  --width-aside-img: 200px;
  --max-width-header-footer: 840px;
  --width-aside: 20rem;
  --margin-aside: 1rem;
  --padding-aside: 1rem;
  --padding-main-img: 2px;
  --margin-top-footer: 15px;
  --box-shadow-main-img: 0 0 30px var(--shadow-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
background-color: var(--main-color);
padding: 1rem;
color: var(--transparent);
display: flex;
justify-content: space-evenly;
align-items: center;
}

nav a {
color: var(--white);
display: block;
padding: var(--padding-medium);
background-color: var(--transparent);
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

h1 {
color: var(--main-color);
background-color: var(--transparent);
margin: 1rem;
}

main img {
width: var(--width-main-img);
height: auto;
border: 1px solid var(--main-color);
padding: var(--padding-main-img);
margin-top: 1rem;
margin-left: 1rem;
box-shadow: var(--box-shadow-main-img);
float: right;
}

p {
padding: 0;
margin: 1rem;
}

header, footer, .grid {
margin: 0 auto;
max-width: var(--max-width-header-footer);
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

aside {
width: var(--width-aside);
position: relative;
grid-column: 1/2;
grid-row: 1/2;
border: 1px solid var(--border-color);
padding: var(--padding-aside);
background-color: var(--bg-color);
text-align: center;
position: relative;
}

aside img {
width: var(--width-aside-img);
height: auto;
box-shadow: var(--box-shadow-main-img);
}

aside h2 {
  position: absolute; /* Change to absolute positioning */
  top: 22px; 
  left: 65px; 
  color: white; /* Ensure the text is readable */
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 5px; 
  font-size: 20px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}


footer {
margin-top: var(--margin-top-footer);
border-top: 1px solid var(--border-top-color);
text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: var(--bg-color);
  color: #000;
}

.indent {
  padding-left: 2rem;
}

.line {
  border: none; /* Remove default styling */
  border-top: 1px solid var(--main-color); /* Adjust color and thickness */
  margin-top: 10px; /* Space between heading and line */
  margin-bottom: 10px;
}

.grid {
display: grid;
align-items: center;
}